:root {
  --color-main-bg: #fbf8f4;
  --color-text: #040d10;
  --color-link: #00e;
  --color-link-active: #1040f8;
  --color-code-bg: #ebe2d6;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  color: var(--color-text);
  background-color: var(--color-main-bg);
}

header {
  border-bottom: 1px solid var(--color-text);
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  color: var(--color-text);
  text-decoration: none;
}

/* TODO footer styles */
footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 1px solid var(--color-text);
  font-size: 1.2rem;
  color: #555;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

.logo a {
  color: var(--color-text);
  text-decoration: none;
}

a {
  color: var(--color-link);
}

a:active {
  color: var(--color-link-active);
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 2rem 0;
  }
  nav {
    margin: 0 auto 1rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 0 auto 0.5rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 2rem 0;
  }
  nav {
    margin: 0 auto 1rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    display: flex;
    flex-direction: column;
    width: min(90vw, 80ch);
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  main {
    flex-grow: 1;
  }
  footer {
    text-align: right;
  }
  .logo a {
    font-size: 2.4rem;
  }
}
