:root {
  --color-main-bg: #fbf8f4;
  --color-text: #040d10;
  --color-text-soft: #555;
  --color-link: #00e;
  --color-link-active: #1040f8;
  --color-code-bg: #ebe2d6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main-bg: #191c26;
    --color-text: #e7edef;
    --color-text-soft: #888;
    --color-link: #ce6922;
    --color-link-active: #e78640;
    --color-code-bg: #ebe2d6;
  }
}

html {
  color-scheme: light dark;
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  color: var(--color-text);
  background-color: var(--color-main-bg);

  display: flex;
  flex-direction: column;
  width: min(90vw, 80ch);
  min-height: 100vh;
}

header {
  border-bottom: 1px solid var(--color-text);
  margin-top: 0.5em;
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  color: var(--color-text);
  text-decoration: none;
}

main {
  flex-grow: 1;
}

/* TODO footer styles */
footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 1px solid var(--color-text);
  font-size: 1.2rem;
  color: var(--color-text-soft);
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2,
h3 {
  font-weight: normal;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: var(--color-text-soft);
}

.logo a {
  color: var(--color-text);
  text-decoration: none;
}

a {
  color: var(--color-link);
}

a:active {
  color: var(--color-link-active);
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  nav {
    margin: 0 auto 1rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 0 auto 0.5rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  nav {
    margin: 0 auto 1rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    margin: 0 auto;
    padding: 0;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo a {
    font-size: 2.4rem;
  }
}

/*
 * Project page specific styles
 */
.page-Projects .project .links a {
  display: block;
  width: fit-content;
}
