<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$ — Nick Girardo</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="shortcut icon" sizes="48x48" href="./images/favicon.ico">
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">Nick Girardo</a>
            </div>
            <nav>
                <a href="/">About</a>
                <a href="/projects.html">Projects</a>
                <a href="/resume.pdf">Resume</a>
            </nav>
        </header>

        <main role="main" class="page-$title$">
            $body$
        </main>

        <footer>
            <span>$lastUpdated$</span>
            <a href="https://github.com/nickgirardo/hakyll-site" target="_blank">view site source</a>
        </footer>
    </body>
</html>
